.ourWork {
	background-color: #111430;
}.carousel-margin{
    margin-left: 10rem;
}
.slick-dots li button::before{
    font-size: 11px !important;
}
.slick-dots li.slick-active button::before {
	opacity: 1.75;
	color: #fff;
}.slick-arrow {
	display: none !important;
}
