@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000;
}

li{
    list-style: none;
}
input[type=number] {
    -moz-appearance: textfield;
  }
.text-brand{
    font-size: 33px;
    color: #2D2D2D;
    text-align: center;
}

.text-brand span{
    color: #7AB259;
}

.addminInput input {
	padding: 10px 15px;
	border-radius: 7px;
	border: none;
    margin-right: 9px;
}